.navigationmenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navigationmenu li {
    margin: 0px 20px;
}

.navigationmenu li a {
    text-decoration: none;
    color: white;

}

.active {
    color: goldenrod !important;
    font-weight: bold !important;
}

.mobile-navigation {
    list-style: none;
}

.mobile-navigation li {
    margin-top: 20px;
}

.mobile-navigation li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}